* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #1b1464;
  --secondary: #0652dd;
  --tertiary: #ae0ed6;
  --wrong: #f70303;
  --correct: #036903;
  --grey: #333;
  font-size: 62.5%;
}

body {
  color: var(--grey);
}

header {
  margin: 2rem 2rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.high-score {
  text-decoration: none;
  font-size: 2rem;
  color: var(--secondary);
}

.timer {
  text-decoration: none;
  font-size: 2rem;
  margin-right: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#question-container {
  text-align: center;
  width: 800px;
  max-width: 80%;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 3rem;
}
.intro-text {
  text-align: center;
  font-size: 2rem;
}

.btn {
  display: block;
  margin: 1.5rem 0 1.5rem 0;
  padding: 0.5rem;
  background: var(--primary);
  color: #ddd;
  border: none;
  border-radius: 12px;
  margin-top: 2rem;
  outline: none;
  font-size: 2.2rem;
}

.btn-col {
  flex-direction: column;
  /* display: none; */
}

.get-started {
  display: flex;
  flex-direction: column;
}

.progress-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background: var(--secondary);
  top: -2px;
}
/* .btn:active {
  background: var(--tertiary);
  top: 0;
} */

.start-btn,
.next-btn {
  padding: 1rem 2rem;
  /* display: none; */
}

.btn-correct,
.btn-correct:hover {
  background: var(--correct);
}

.btn-wrong,
.btn-wrong:hover {
  background: var(--wrong);
}

.hide {
  display: none;
}

.hs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.progress-btns {
  gap: 1rem;
}

.hs-btn {
  text-decoration: none;
}

.highscores {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.highscores h2,
.highscores h3 {
  align-self: center;
  justify-content: center;
  padding-bottom: 10px;
}

.text-input {
  width: 200px;
  align-self: center;
  justify-content: center;
}
.save-btn {
  padding: 20px;
  align-self: center;
  justify-content: center;
  width: 200px;
}
